@page "/"

<PageTitle>Home</PageTitle>

<h1>Aprimoramento do Sistema de Controle de Chamados no Centro de Operações de Rede (NOC)</h1>

<br>

<h2>
    Problematização:
</h2>

<p>
    O sistema atual de controle de chamados apresenta vários problemas críticos, entre eles falhas de segurança, o uso de tecnologias desatualizadas (PHP, HTML 1), bibliotecas obsoletas, bugs de compatibilidade com navegadores modernos, baixo desempenho e interface de usuário (UX/UI) precária.
    Esses problemas não só comprometem a funcionalidade do sistema, mas também aumentam os custos de manutenção e impactam negativamente a experiência dos usuários.
    As falhas de segurança, especialmente, representam um risco significativo para a proteção de dados sensíveis.
    Esses fatores evidenciam a necessidade urgente de uma modernização para garantir a eficiência, a segurança e a satisfação dos usuários.
</p>

<h2>
    Hipótese de Solução:
</h2>

<p>
    A solução proposta é o desenvolvimento de um protótipo de novo sistema, utilizando tecnologias modernas e seguras que resolvam os problemas atuais do sistema.
    Este protótipo será baseado em uma arquitetura escalável, otimizada para performance e segurança, e contará com uma interface de usuário (UX/UI) mais intuitiva e responsiva.
    A ideia é demonstrar como a inovação pode melhorar a experiência do usuário, aumentar a segurança e facilitar a manutenção, servindo como base para uma possível implementação futura.
</p>

<h2>
    Objetivos:
</h2>

<p>
    Desenvolver um protótipo de um novo sistema de controle de chamados que resolve as principais limitações do sistema atual, com ênfase na segurança, desempenho e usabilidade.
</p>

<h2>
    Metodologia:
</h2>

<p>
    A metodologia experimental será utilizada para o desenvolvimento deste protótipo.
    O objetivo não é implementar o sistema completo, mas criar uma versão mínima viável (MVP) para apresentar à empresa e validar a proposta de inovação.
</p>